:root {
    --main-color: #F44336; --main-text-color: #ffffff; --standard-link-color: #FFC107; --post-bkg-color: #111111; --category-header-color: #ff0000; }

app-toolbar {
    background-color: var(--main-color);
    color: var(--main-text-color);
}

body {
    margin: 0;
    background-color: #111111;
    background-image: -webkit-linear-gradient(top, rgb(0, 0, 0) 0%, rgb(50, 50, 50) 50%, rgb(0, 0, 0) 100%);
    background-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(50, 50, 50) 50%, rgb(0, 0, 0) 100%);
    background-attachment: fixed;
    font-family: 'Roboto', 'Noto', sans-serif;
}

.title {
  color: #fff;
  text-shadow: 2px 2px 2px black;
  font-family: sans-serif;
  /* margin-top: 4%; */
  text-align: center;
}
.title h2 {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.articlePhoto {
  flex: 1;
  margin: 20px 0 0 0;
  text-align: center;
}

.articlePhoto img {
  height: auto;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

@media screen and (min-width: 1012px) {
  .mainHeader {
    display: flex;
    z-index: 2;
    margin: auto;
    max-width: 1100px;
  }
  .title {
    flex: 1;
    display: flex;
    color: #fff;
    text-shadow: 2px 2px 2px black;
    font-family: sans-serif;
    /* margin-top: 4%; */
  }
  .contPad {
    padding-top:20px;
  }
  .articlePhoto {
    flex: 1;
    margin: 20px 10px;
    text-align: left;
  }

  .articlePhoto img {
    max-width: 70vh;
    max-height: 70vh;
  }

  .tSec {
    align-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: right;
    /* min-height:300px; */
    margin: auto 0 auto auto;
  }
  .tSec h1 {
    font-size: 3em;
  }
}


.mainHeader a {
  color: #fff;
}
.mainHeader:before {
  z-index: -1;
  content: "";
  position: fixed;
  margin-top: -64px;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  display: block;
  width: 100%;
  height:100%;
  filter: blur(10px);
}



.mobileAd {
    display: none;
}

.side-column-ad {
    padding: 0 10px;
}

nav .pager {
    list-style: none;
    display: flex;
    margin: 40px 0;
    clear: both;
    text-align: center;
}

nav .pager li {
    flex: 1;
}

nav .pager li a {
    padding: 20px;
    margin: 20px;
    border-radius: 20%;
    background-color: var(--main-color);
    color: var(--main-text-color);
    text-decoration: none;
    border: 1px solid black;
}

nav .pager li a:hover {
    background-color: red;
}

/* music underground banner */
.musicunderground {
    background-position: center;
    background-size: cover;
    margin-top: 1em;
}

.musicunderground a {
    text-decoration: none;
}

.musicunderground > .overlay {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    color: var(--main-text-color);
    text-align: center;
    height: 100%;
}

.musicunderground .container {
    height: 100%;
}

@media screen and (max-width: 430px) {
    [title] span {
        display: none;
    }

    .bannerImg {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: #111111;
    }

    .mobileAd {
        display: block;
        margin-bottom: 20px;
    }

    .side-column-ad {
        display: none;
    }
}

header {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: sans-serif;
}

app-drawer #contentContainer.app-drawer {
    background-color: var(--post-bkg-color);
}

app-drawer li {
    list-style-type: none;
}

app-drawer a {
    padding-left: 15px;
    text-decoration: none;
    min-height: 48px;
    align-items: center;
    display: flex;
    color: var(--main-text-color);
}

app-toolbar a {
    text-decoration: none;
    color: var(--main-txt-color);
}
app-toolbar > .article-title {
  text-align: right;
  flex:1;
}
simple-carousel {
    perspective: 500px;
}

simple-carousel, simple-carousel carousel-slide {
    width: 100%;
    height: 500px;
}

.slideOverlay {
    width: 370px;
    height: 100%;
    padding: 20px 10px 10px 50px;
    color: #ffffff;
    border-top-right-radius: 4px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: 500ms;
}

.slideOverlay:hover {
    width: 500px;
}

.slideOverlay h1 {
    width: 300px;
    font-size: 1.5em;
    font-family: sans-serif;
}

.slideOverlay hr {
    margin-left: 0;
    width: 150px;
    color: red;
    height: 3px;
    background-color: red;
    border-radius: 30px
}

.slideOverlay h2 {
    width: 250px;
    line-height: 1.35em;
    font-size: 1.1em;
}

.slideOverlay h3 {
    width: 250px;
    font-size: 1em;
}

.slideOverlay h5 {
    margin-top: 10px;
}

simple-carousel carousel-slide {
    background-position: right;
    background-size: cover;
    z-index: -2;
    background-repeat: repeat;
}

.slideOverlay:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
    z-index: -1;
}

@media screen and (max-width:500px) {
  simple-carousel carousel-slide {
    background-size: cover;
  }
}

.musicunderground h1 {
    color: #0f0;
    text-shadow: 2px 2px 2px red;
    margin-bottom: 5px;
}

.musicunderground h3 {
    color: #ff0e00;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 15px;
}

/* Classic Archives */
.classicArchives .cAHeader h2 {
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    color: yellow;
    text-shadow: black 2px 2px 2px;
    text-align: center;
    font-size: 1.7em;
    padding: 20px;
}
.classicArchives a {
  color: #fff;
}

.classicArchives .cAPost {
    height: 200px;
    position: relative;
    clear: both;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.classicArchives .overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
}

/* Author Styles */
.authorProfile {
    background-color: var(--main-color);
    text-align: center;
    color: var(--main-text-color);
    padding: 25px 20px 10px 20px;
}

.authorProfile img {
    border-radius: 50%;
}

.authorProfile p {
    text-align: left;
}

.postThumbnail {
    height: 200px;
}

.authorPosts {
    margin-top: 20px;
}

.authorPosts h2 {
    margin-bottom: 10px;
    margin-left: 10px;
    color: var(--main-text-color);
}

@media screen and (min-width: 640px) {
    .authorPage {
        display: flex;
    }

    .authorProfile {
        flex: 1;
    }

    .authorPosts {
        flex: 2;
        margin: 20px 15px;
    }

    .authorPosts h2 {
        margin-left: 15px;
    }

    .postsFlex {
        display: flex;
        flex-wrap: wrap;
    }

    .musicunderground .container {
        display: flex;
        vertical-align: middle;
    }

    .musicunderground .left {
        flex: 1;
        margin: auto;
    }

    .musicunderground .right {
        flex: 2;
        margin: auto;
    }
}

.pSection .sTitle {
    color: var(--main-text-color);
    background-color: red;
    padding: 20px;
}

.pPosts {
    display: flex;
    padding: 5px 10px;
    border-radius: 2px;
}
.pPosts a {
  display: -webkit-box;
}

.pPosts .thumbNail {
}

.pPosts .text {
    flex: 5;
}

.pPosts .text p {
    margin: 5px;
    font-size: larger;
    color: var(--main-text-color);
}

.pPosts .thumbNail {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
}
@media (max-width:800px) {

    app-toolbar > .article-title {
      display: none;
    }
}

@media screen and (min-width: 600px) {
    .pFlex {
        display:flex;
        flex-wrap:wrap;
    }
    .pSection {
        flex:1 0 50%;
    }
    .relatedthumb {
        flex: 1 0 45%;
        margin: 0 15px;
    }
    .pSection .sTitle {
        text-align: center;
    }
}
@media screen and (min-width: 900px) {
    .cAFlex, .pFlex {
        display: flex;
    }

    .cAFlex .cAPost, .pSection {
        flex: 1;
    }

    .relatedthumb {
        flex: 1 0 45%;
        margin: 0 15px;
    }
}

@media screen and (min-width: 1000px) {
    .authorPosts {
        flex: 3;
    }

    simple-carousel carousel-slide {
        /* background-size: contain; */
        /* background-position: 100% 35%; */
    }

    simple-carousel, simple-carousel carousel-slide {
        height: 400px;
        background-position: 100% 24%;
    }

    .slideOverlay {
        width: 480px;
    }

    .slideOverlay:hover {
        width: 520px;
    }

    .slideOverlay h1 {
        width: 420px;
        font-size: 1.8em;
        font-family: sans-serif;
    }

    .slideOverlay h2 {
        width: 380px;
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1400px) {
    .relatedthumb {
        flex: 1 0 25%;
    }
}

@media screen and (min-width: 1500px) {
    .slideOverlay {
        width:600px;
    }

    .slideOverlay:hover {
        width: 650px;
    }

    .slideOverlay h1 {
        width: 560px;
        font-size: 2em;
        font-family: sans-serif;
    }

    .slideOverlay hr {
        width: 250px;
    }

    .slideOverlay h2 {
        width: 520px;
        font-size: 1.2em;
    }
}

/* category styles */
.categoryPicture h1 {
    margin-top: 20px;
    text-align: center;
    color: var(--category-header-color);
    text-shadow: 2px 2px 5px var(--main-text-color);
    font-family: 'Lobster', cursive;
}

.categoryPicture h2 {
    margin-top: 20px;
    text-align: center;
    color: var(--main-text-color);
    font-family: sans-serif;
}

/* blog-post styles */
.container {
    margin: 0;
}

.arrow {
    width: 50px;
    height: 50px;
    margin-left: -35px;
    bottom: 0;
    left: 50%;
    position: absolute;
}

#title p a {
    color: var(--main-text-color);
    text-decoration: none;
}

.blog-post a {
    color: var(--standard-link-color);
}

.blog-post img {
    width: 100%;
    height: auto;
}

header {
    color: var(--main-text-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: calc(100vh - 64px); */
    position: relative;
    /* margin-bottom: 20px; */
}

header #ballbusterE {
    left: 0;
    top: 0;
    position: absolute;
    text-shadow: 2px 2px 2px black;
    padding: 10px;
}

header #ballbusterE p {
    color: red;
    font-family: 'Condiment', cursive;
    font-size: 20px;
}

header #date {
    right: 0;
    top: 0;
    position: absolute;
    text-shadow: 2px 2px 2px black;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
}

header #title {
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    width: 100%;
    /* align-items: center; */
    /* align-content: center; */
    vertical-align: middle;
    /* vertical-align: middle; */
    position: absolute;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

header h1 {
    font-family: sans-serif;
    margin-bottom: 1em;

}

.pic {
    display: inline-block;
    width: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

.blog-post h1 {
    margin-top: 2em;
}

.blog-post p {
    font-size: 1.2em;
}

.main-column {
    padding: 20px;
    background-color: var(--post-bkg-color);
    color: var(--main-text-color);
    line-height: 1.5;
    text-align: justify;
    letter-spacing: 1.3px;
}

/* Related Posts */
.relatedposts h2 {
    margin: 10px 15px;
    color: var(--main-text-color);
}

.relatedthumb a img {
    width: 100%;
    height: auto;
}

.relatedthumb {
    background-color: #222222;
    border: solid 2px black;
    margin-bottom: 20px;
}

.relatedthumb a {
    color: #ffffff;
    text-decoration: none;
}

.relatedtext {
    padding: 10px;
}
.blog-post img {
  width: 100%;
}
.wp-caption {
  position: relative;
  overflow: hidden;
}
.wp-caption-text {
  background-color: rgba(255, 0, 0, 0.8);
  margin: 0;
  position: absolute;
  width: 100%;
  padding: 1em;
  bottom: 7px;
  font-size: 0.85em;
}

@media screen and (min-width: 600px) {
    .blog-post .alignleft {
        width: 50%;
        float: left;
        margin: 0 20px 20px 0;
    }

    .blog-post .alignright {
        width: 50%;
        float: right;
        margin: 0 0 20px 20px;
    }

    /* category styles */
    .categoryPicture h1 {
        font-size: 3em;
    }
}

@media screen and (min-width: 900px) {
    .container {
        margin: 0 40px;
    }

    .row {
        display: flex;
    }

    .main-column {
        flex: 2;
    }

    .side-column {
        flex: 1;
        margin-left: 20px;
    }

    .sidebar-module {
        margin-bottom: 20px;
        background-color: var(--post-bkg-color);
    }

    /* category styles */
    .categoryPicture h1 {
        font-size: 5em;
    }

    .categoryPicture h2 {
        font-size: 3em;
    }
}

@media screen and (min-width: 1100px) {
    .main-column {
        flex: 3;
    }

    .container {
        margin: 0 100px;
    }
}

/* Author block */
.closing a {
    color: var(--standard-link-color);
}

.closeingtop img {
    width: 40px;
    border-radius: 50%;
    vertical-align: middle;
}

.inline {
    display: inline-block;
    vertical-align: middle;
}

.closing hr {
    display: none;
}

@media screen and (min-width: 600px) {
    .closing hr {
        display: block;
    }

    .closeingbottom {
        display: inline-block;
        vertical-align: middle;
    }

    .closeingbottom p {
        padding: 10px;
    }

    .archive-right {
        float: right;
        padding: 20px
    }

    .websgn {
        float: right;
    }

    .archive-right:hover {
        background-color: #222;
    }

    .close hr {
        clear: both;
        margin: 0 0 0 0;
    }

    p a {
        color: #FFC107;
    }

    p a:hover {
        text-decoration: underline;
    }

    .author {
        padding: 20px 5px;
    }
}

/* Footer */
footer {
    background-color: var(--post-bkg-color);
    color: var(--main-text-color);
    padding: 10px 30px;
}

footer a {
    color: var(--main-text-color);
}

@media screen and (min-width: 900px) {
    footer {
        padding: 10px 30px;
    }
}

.social-icon {
    display: inline-block;
    text-align: center;
}

.social-icon img {
    width: 40px;
    border-radius: 100%;
}

/* Categories */
.categoryPicture img {
    width: 100%;
}

@media screen and (min-width: 1000px) {
    .categoryPicture {
        max-width: 1000px;
        margin: auto;
    }

    .cAFlex {
        margin: 0 200px;
    }

    .classicArchives .cAPost {
        height: 300px;
        margin: 20px;
    }
}
.bnd {
  display: flex;
}

.feat-video {
    flex:auto;
}

.feat-video .section-title {
    min-height: 170px
}





/*********************************
  new grid layout for new posts
*********************************/

.new-grid {
  width: 100%;
}
.new-grid a {
  text-decoration: none;
}

.new-post {
  background-color: #202020;
  margin-top: 1em;
  text-decoration: none;
}

.new-post-img {
  height: 270px;
  overflow: hidden;
}
.new-post-img-src {
  background-image: url(http://beta.ballbustermusic.com/wp-content/uploads/2017/01/TenReasonsWhyBrianWilson.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  transform: scale(1.0);
  transition: ease all 500ms;
}
.new-post:hover .new-post-img-src{
  transform: scale(1.1);
}

.new-post-des {
  padding: 1em;
  color: #ffffff;
  letter-spacing: 1px;
}


@media screen and (min-width: 650px) {
  .new-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1em;
    width: auto;
  }
  .new-post {
    width: 48.5%;
  }
  .new-post:first-child {
    width: 100%;
  }
}
@media screen and (min-width: 800px) {
  .new-post {
    width: 32%;
  }
  .new-post:first-child {
    width: 32%;
  }
}
@media screen and (min-width:1150px) {
  .new-post:first-child {
    width: 66%;
    display: flex;
  }
  .new-post:first-child .new-post-img {
    flex: 1;
    width: auto; height: auto;
  }
  .new-post:first-child .new-post-des {
    flex: 1;
  }
  .new-post:first-child .new-post-des {
    font-size: 1.2em;
  }
  .new-post:nth-child(6),
  .new-post:nth-child(7),
  .new-post:nth-child(8),
  .new-post:nth-child(9) {
    width: 24%;
  }
  .new-post:nth-child(6) .new-post-img,
  .new-post:nth-child(7) .new-post-img,
  .new-post:nth-child(8) .new-post-img,
  .new-post:nth-child(9) .new-post-img {
    height: 200px;
  }
  .new-post:nth-child(6) .new-post-des h1,
  .new-post:nth-child(7) .new-post-des h1,
  .new-post:nth-child(8) .new-post-des h1,
  .new-post:nth-child(9) .new-post-des h1 {
    font-size: 1.2em;
  }

}
@media screen and (min-width: 1400px) {
  .new-grid {
    margin: auto;
    max-width: 1400px;
  }
}



/* Video Posts */
.embeded-video {
  display: flex;
  background-color: #000;
}
.embeded-video > iframe {
  display: block;
  width: 100vw;
  height: calc((1080 / 1920) * 100vw);
  margin: auto;
  padding: 0;
  text-align: center;
}
.videoHeader {
  margin: 1em;
}
.videoHeader a {
  color: gold;
}
.videoHeader h1 {
  margin-bottom: 0.5em;
}
.videoHeader h4 {
  margin-top: 1em;
}
@media (min-width: 900px) {
  .videoHeader {
    margin: 1.5em 60px;
  }
}
@media (min-width: 1000px) {
  .embeded-video > iframe {
    width: 60%;
    height: calc((1080 / 1920) * 60vw);
  }
  .videoHeader {
     margin: 1.5em 120px;
  }
}

/* Back in the Day  */

.classicArchives {
  background-image: linear-gradient(transparent, #ff2222);
}
.cAHeader {
  margin: 1em 0 0.8em 0;
}
.back_in_day {
  background-color: #ff2222;
}


/* BallBuster Babes */
.babes h1 {
  background-image: linear-gradient(#ff2222, #7d007a);
  color: #fff;
  text-shadow: 3px 3px 2px black;
  padding: 1.5em 0 1em 0;
  text-align: center;
}
.babes-grid {
  background-color: #7d007a;
}
.babes-grid a {
  display: block;
  position: relative;
  width: 90%;
  height: 200px;
  padding-top: 1em;
  margin: 0 auto 1em auto;
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: center;
  transition: ease all 500ms;
}
.babes-grid a:last-child {
  margin-bottom: 0;
}
.babes-grid a:hover {
  background-size: 115%;
}
.babes-grid a h3 {
  position: absolute;
  bottom: 0;
  font-size: 1.35em;
  padding: 10px;
  background-color: rgba(128,0,128,0.5);
  color: #fff;
  display: block;
  width: calc(100% - 5%);
}
.babes-more {
  background-image: linear-gradient(#7d007a, #ff2222);
  color: #fff;
  padding: 1.5em 0 1em 0;
  text-align: center;
}
.babes-btn {
  background-color: purple;
  color: #fff;
  border-radius: 15px;
  display:inline-block;
  font-size: 1.2em;
  padding: 1em;
  text-decoration: none;
  transition: ease all 500ms;
}
.babes-btn:hover {
  background-color: firebrick;
}
@media (min-width:800px) {
  .babes {
    background-color: #7d007a;
  }
  .babes-grid {
    display: flex;
    max-width: 1300px;
    margin: auto;
    background-color:
  }
  .babes-grid a {
    flex: 1;
    height: 400px;
    margin: 1em;
  }
}


.counter {
  background-image: linear-gradient(#ff2222, black);
}
.counter p {
  margin: 0;
  padding: 10px;
}
.back_in_day h1 {
  font-family: 'Lobster', serif;
  color: #ffff00;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 1em;
}
.tb-image-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1em;
}
.tb-image-grid div {
  overflow: hidden;
}
.tb-image-grid img {
  width: 100%;
}
.tb-image-grid h2 {
  position: absolute;
  margin-top: -2.17em;
  color: #fff;
  padding: 10px;
  background-color: rgba(0, 0, 0, .5);
  width: calc(100% - 3.5em);
}

@media (min-width: 600px) {
  .tb-image-grid {
    grid-template-columns: 1fr 1fr;
  }
  .tb-image-grid h2 {
    width: calc(50% - 2.5em);
  }
}
@media (min-width: 1000px) {
  .back_in_day {
    margin: auto;
  }
  .tb-image-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .tb-image-grid h2 {
    width: calc(25% - 2.0em);
  }

}
.new-post:nth-child(6) .new-post-des .post-excert,
.new-post:nth-child(7) .new-post-des .post-excert,
.new-post:nth-child(8) .new-post-des .post-excert,
.new-post:nth-child(9) .new-post-des .post-excert {
  display: none;
}
