body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #101010;
  overflow-x: hidden;
  color: #fff;
}
.desktopAd {
  display: none;
}

/* Navigation Bar */
#navigation {
  width: 100%;
  height: 50px;
  display: flex;
  background-color: #ff2323;
}
.logo-menu {
  flex: 1;
  display: flex;

}
.menuBtn {
  margin: auto 0 auto 1em;
  cursor:pointer;
}
.menuBtn img {
  width: 38px;
  height: 38px;
}
.nav-items {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  margin-top: -110vh;
  background-color: #101010;
  transition: ease all 1000ms;
  overflow-x: hidden;
  overflow-y: scroll;
}
.nav-items a {
  display: block;
  color: #ff0000;
  font-size: 1.6em;
  text-align: center;
  margin-top: 0.5em;
  text-decoration: none;
  font-family: monospace;
  transition: ease all 400ms;
  opacity: 0;
}

/* Social nav bar */
.nav-social {
  height: 64px;
  width: inherit;
  border-top: #fff 1px solid;
  position: absolute;
  bottom: 0;
  display: flex;
}
.nav-social a {
  flex: 1;
  width: auto;
  height: inherit;
  display: flex;
  border-right: #fff 1px solid;
  background-color: #000;
  opacity: 1;
  margin: auto;
  transition: ease all 400ms;
}
.nav-social a:last-child {
  border-right: none;
}
.nav-social a img {
  width: 30px;
  height: 30px;
  margin: auto;
}
.nav-facebook:hover,
.nav-facebook:active {
  background-color: #3B5998;
}
.nav-twitter:hover,
.nav-twitter:active {
  background-color: #1DA1F2;
}
.nav-googleplus:hover,
.nav-googleplus:active {
  background-color: #DC4E41;
}

.nav-items a:hover,
.nav-items a:active {
  color: gold;
}
.openDrawer {
  margin-top: 0;
}
#closeDrawerIcon {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width:30px;
  background-color: red;
  opacity: 1;
  z-index: 5;
  margin: 5px;
  padding: 10px;
  border-radius: 50%;
}
#closeDrawerIcon img {
  width: 30px;
  height: 30px;
}


@media screen and (max-width:399px) {
  .openDrawer #nav1 {
    animation-name: navigationDrawer;
    animation-fill-mode: forwards;
    animation-delay: 700ms;
    animation-duration: 300ms;
    margin-top: 45px;
  }
  .openDrawer #nav2 {
    animation-name: navigationDrawer;
    animation-fill-mode: forwards;
    animation-delay: 800ms;
    animation-duration: 300ms;
  }
  .openDrawer #nav3 {
    animation-name: navigationDrawer;
    animation-fill-mode: forwards;
    animation-delay: 900ms;
    animation-duration: 300ms;
  }
  .openDrawer #nav4 {
    animation-name: navigationDrawer;
    animation-fill-mode: forwards;
    animation-delay: 1000ms;
    animation-duration: 300ms;
  }
  .openDrawer #nav5 {
    animation-name: navigationDrawer;
    animation-fill-mode: forwards;
    animation-delay: 1100ms;
    animation-duration: 300ms;
  }
  .openDrawer #nav6 {
    animation-name: navigationDrawer;
    animation-fill-mode: forwards;
    animation-delay: 1200ms;
    animation-duration: 300ms;
  }
  .openDrawer #nav7 {
    animation-name: navigationDrawer;
    animation-fill-mode: forwards;
    animation-delay: 1300ms;
    animation-duration: 300ms;
  }
  .openDrawer #nav8 {
    animation-name: navigationDrawer;
    animation-fill-mode: forwards;
    animation-delay: 1400ms;
    animation-duration: 300ms;
  }
  .openDrawer #nav9 {
    animation-name: navigationDrawer;
    animation-fill-mode: forwards;
    animation-delay: 1500ms;
    animation-duration: 300ms;
  }
  .openDrawer #nav10 {
    animation-name: navigationDrawer;
    animation-fill-mode: forwards;
    animation-delay: 1600ms;
    animation-duration: 300ms;
  }
  .openDrawer #nav11 {
    animation-name: navigationDrawer;
    animation-fill-mode: forwards;
    animation-delay: 1700ms;
    animation-duration: 300ms;
  }
  .openDrawer #nav12 {
    animation-name: navigationDrawer;
    animation-fill-mode: forwards;
    animation-delay: 1800ms;
    animation-duration: 300ms;
  }
}
@media screen and (min-width:400px) {
  .openDrawer #nav1 {
    animation-name: navigationDrawerL;
    animation-fill-mode: forwards;
    animation-delay: 700ms;
    animation-duration: 300ms;
    margin-top: 45px;
  }
  .openDrawer #nav2 {
    animation-name: navigationDrawerL;
    animation-fill-mode: forwards;
    animation-delay: 800ms;
    animation-duration: 300ms;
  }
  .openDrawer #nav3 {
    animation-name: navigationDrawerL;
    animation-fill-mode: forwards;
    animation-delay: 900ms;
    animation-duration: 300ms;
  }
  .openDrawer #nav4 {
    animation-name: navigationDrawerL;
    animation-fill-mode: forwards;
    animation-delay: 1000ms;
    animation-duration: 300ms;
  }
  .openDrawer #nav5 {
    animation-name: navigationDrawerL;
    animation-fill-mode: forwards;
    animation-delay: 1100ms;
    animation-duration: 300ms;
  }
  .openDrawer #nav6 {
    animation-name: navigationDrawerL;
    animation-fill-mode: forwards;
    animation-delay: 1200ms;
    animation-duration: 300ms;
  }
  .openDrawer #nav7 {
    animation-name: navigationDrawerL;
    animation-fill-mode: forwards;
    animation-delay: 1300ms;
    animation-duration: 300ms;
  }
  .openDrawer #nav8 {
    animation-name: navigationDrawerL;
    animation-fill-mode: forwards;
    animation-delay: 1400ms;
    animation-duration: 300ms;
  }
  .openDrawer #nav9 {
    animation-name: navigationDrawerL;
    animation-fill-mode: forwards;
    animation-delay: 1500ms;
    animation-duration: 300ms;
  }
  .openDrawer #nav10 {
    animation-name: navigationDrawerL;
    animation-fill-mode: forwards;
    animation-delay: 1600ms;
    animation-duration: 300ms;
  }
  .openDrawer #nav11 {
    animation-name: navigationDrawerL;
    animation-fill-mode: forwards;
    animation-delay: 1700ms;
    animation-duration: 300ms;
  }
  .openDrawer #nav12 {
    animation-name: navigationDrawerL;
    animation-fill-mode: forwards;
    animation-delay: 1800ms;
    animation-duration: 300ms;
  }
}
@keyframes navigationDrawer {
  0% {
    opacity: 0;
    font-size: 2em;
    padding: -80px;
  }
  100%{
    padding: 0;
    font-size: 1.3em;
    opacity: 1;
  }
}

@keyframes navigationDrawerL {
  0% {
    opacity: 0;
    font-size: 2em;
    padding: -80px;
  }
  100%{
    padding: 0;
    font-size: 1.45em;
    opacity: 1;
  }
}

/* Nav bar for Larger Screens ******************/
@media (min-width: 800px) {
  .menuBtn {
    display: none;
  }
  .nav-items {
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    height: inherit;
    width: auto;
    position: relative;
    overflow: hidden;
  }
  .logo {
    height: 45px;
    width: 150px;
    margin: auto 20px;
    background: blue;
  }
  .nav-items a {
    display: none;
  }
  #closeDrawerIcon {
    display: none;
  }
  .nav-social {
    position: relative;
    display: inline-block;
    border: none;
  }
  .nav-social a {
    display: inline-block;
    background-color: transparent;
    padding: 0;
    margin: 10px 10px;
    border: none;
    width: 30px;
    height: 30px;
  }
  .nav-social a img {
    width: 100%;
    height: 100%;
  }
  header {
    height: 50px;
  }
  .nav-item-row {
    display: flex;
    position: absolute;
    margin-top: 50px;
    width: 100%;
    height: 50px;
    background-color: black;
  }
  .nav-items-row {
    flex-grow: 6;
    display: flex;
    padding: 0 20px;
  }
  .nav-items-row a {
    font-family: sans-serif;
    margin-left: 20px;
    color: #fff;
    height: 45px;
  }
  .nav-items-row a:hover {
    color: gold;
  }
  .nav-translate-row {
    flex: 1;
    margin: auto;
  }
}



/* Home Page */
#banner-image {
  width: inherit;
}

.carousel {
  width: 100%;
  height: 30em;
  background-color: #000000;
  position: relative;
  z-index: 0;
}
.carousel h1 {
  font-size: 1.5em;
  font-family: sans-serif;
  text-align: center;
  color: #ffffff;
  text-shadow: rgba(0,0,0,0.8) 0.1em 0.1em 0.2em;
  transition: ease all 500ms;
  max-width: 700px;
  margin: 1em 40px 0.5em 40px;
}
.carousel h5 {
  font-family: sans-serif;
  text-align: center;
  color: #ffffff;
  text-shadow: rgba(0,0,0,0.8) 0.1em 0.1em 0.2em;
  transition: ease all 500ms;
  max-width: 700px;
  margin: 0 40px 10px 40px;
}
.carousel p {
  font-family: sans-serif;
  text-align: center;
  color: #ffffff;
  text-shadow: rgba(0,0,0,0.8) 0.1em 0.1em 0.2em;
  transition: ease all 500ms;
  max-width: 700px;
  margin: 0 40px 1em 40px;
}

/* Carousel Dots */
.dots {
  right: 0;
  position: absolute;
  padding: 1em;
  z-index: 2;
}
.dot {
  cursor:pointer;
  top: 0;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 500ms ease;
}
.active, .dot:hover {
  background-color: #ff1111;
}

/* Standard Slide With Link */
.carousel .standard-slide-with-link {
  width: 100%;
  height: inherit;
  /* Get background image in php */
  background-size: cover;
  background-position: center;
}
.slide-container {
  margin: auto;
  display: grid;
}
.slide-container .bFix .mFix .btn {
  text-align: center;
  margin: auto;
  font-size: 1.2em;
}
.mFix {
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.5);
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.slide-photo {
  display: none;
}
.author-block {
  display: flex;
  padding: 1em;
  background-color: #333;
  border-radius: 15px;
}
.author-block .left img {
  width: 100px; height: 100px;
  margin-left: 2em;
  border-radius: 50%;
}
.author-block .left {
  margin: auto 0;
}
.author-block .right {
  margin: auto auto auto 20px;
}
.author-block .right a {
  color: #ffffff;
}
.author-block .right a:hover {
  color: gold;
}

@media (max-width:799px) {
  .slide {
    height: inherit;
    flex-direction: column;
    background-position: center;
    background-size: cover;
  }
  .standard-slide-with-link {
    display: none;
  }
}
/* Carousel: Larger Screen format */
@media (min-width:800px) {
  .slide {
    height: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1%;
  }
  .standard-slide-with-link {
    filter: blur(35px);
    height: inherit;
  }
  .slide-container {
    width: 90%;
    padding: 0 5%;
    height: inherit;
    grid-template-columns: 1fr 2fr;
    position: absolute;
  }
  .slide-photo {
    display: block;
    width: auto;
    height: inherit;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .mFix {
    background-color: transparent;
  }
  .mFix .btn {
    margin: auto;
    display: table-cell;
  }
}

/* Music Underground */
.mu {

}

/* Recent Posts Grid */
.row {
  display: block;
  max-width: 1200px;
  margin: auto;
}
.grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto;
}
.grid-section {
  color: #fff;
}
.grid-section h2 {
  margin: 0;
  padding: 15px 0 20px 20px;
  background-color: darkred;
  letter-spacing: 0.05em;
}
.grid-section a {
  margin: 10px;
}
.card {
  display: flex;
  margin-top: 5px;
  color: #fff;
  font-family: sans-serif;
  text-decoration: none;
}
.card .thumbnail {
  width: 100px; height: 100px;
  background-position: center;
  background-size: cover;
}
.card h3 {
  font-size: 1em;
  flex: 1;
  padding-left: 10px;
}
@media (min-width:768px) and (max-width:1023px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .grid-section {
    margin-left: 10px;
  }
  .grid-section:nth-child(2n+2) {
    margin-right: 10px;
  }
}
@media (min-width:1024px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid-section {
    margin-left: 10px;
  }
  .grid-section:nth-child(3n+3) {
    margin-right: 10px;
  }
}

/* classicArchives *******************/
.classicArchives {
  background-image: linear-gradient(transparent, #ff2222);
}
.cAHeader {
  margin: 1em 0 0.8em 0;
}
.classicArchives .cAHeader h2 {
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
  color: yellow;
  text-shadow: black 2px 2px 2px;
  text-align: center;
  font-size: 1.7em;
  padding: 20px;
}
.cAFlex {
  display: flex;
  margin: auto;
  max-width: 1200px;
}
@media (min-width: 900px) {
  .cAFlex .cAPost {
    flex: 1;
  }
}

.classicArchives .cAPost {
  height: 300px;
  margin: 10px;
  position: relative;
  clear: both;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 899px) {
  .classicArchives .cAPost {
    width: 100%;
    margin: 5px 0;
  }
  .cAFlex {
    display: block;
  }
}
.classicArchives a {
  color: #fff;
}
.classicArchives a:hover {
  color: gold;
}
.classicArchives .overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  padding: 10px;
  background-color: rgba(0,0,0,0.7);
}




/* Post Page: Default ****************/

/* Post Page: Header ****************/
  .postPhoto {
    width: auto;
    width: 100%;
    height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .postHeader .title {
    padding: 10px;
  }
  .postHeader .title h1 {
    color: #fff;
  }
  .postHeader .title h2 {

    margin: auto;
  }
   .postHeader .title h2 {
    color: #ffffff;
    font-size: 1em;
  }
  .postHeader .title h2 a {
    color: gold;
    vertical-align: middle;
    justify-content:center;
    text-decoration: none;
  }
  .postHeader .title h2 img {
    width: 25px;
    border-radius: 50%;
    vertical-align: middle;
    justify-content:center;
  }
  .postHeader .title h2 a:hover {
    text-decoration: underline;
  }
   .postHeader .title h4 {
    color: #fff;
  }
  .section-label a {
    color: red;
    text-decoration: none;
  }
  .section-label a:visited {
    color: red;
  }
  .section-label a:hover {
    color: red;
    text-decoration: underline;
  }

  /* Post Page: article content ****************/
  .contPad {
    background: transparent;
    width: inherit;
    height: inherit;
  }
  .mobileAd-container {
    width: auto;
    height: auto;
    padding-bottom: 10px;
  }
  .mobileAd {
    width: 320px; height: auto;
    margin: auto;
  }
  .contPad .main-column {
    padding: 1em;
    color: #dedede;
    background-color: #000000;
    font-size: 1.3em;
    letter-spacing: 2px;
    line-height: 1.4em;
    font-family: sans-serif;
  }
  .main-column iframe {
    width: 100vw;
    height: calc((1080 / 1900) * 100vw);margin-left: -1em;
  }
  .main-column img {
    width: 100%;
    height: auto;
    margin-left: -1em;
  }
  @media (max-width:899px) {
    .alignright {
      width: calc(100% + 2em);
    }
    .alignleft {
      width: calc(100% + 2em);
    }
  }
  .author-block p {
    font-size: 0.8em;
    line-height: 0.7em;;
  }
  .comments {
    margin-left: 1em;
    width: 100%;
  }

@media (orientation:landscape) and (max-width: 800px) {
  .bkg-img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(70px);
    background-size: cover;
    background-position: center;
    z-index: -5;
  }
  .postHeader {
    width: inherit;
    position: relative;
    perspective: 200px;
  }
  .postHeader .postPhoto {
    width: 100%;
    height: calc(100vh - 50px);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  }
  .postHeader .title {
    position: absolute;
    bottom: 2px;
    background-color: rgba(0,0,0,0.8);
    width: 260px;
    padding: 0.5em;
    transform: rotateX(0deg) rotateY(10deg);
    transform-origin: left center;
    z-index: 100;
    margin-left: 5px;
  }
  .postHeader .title h1 {
    color: #ffffff;
    font-size: 1.3em;
  }
  .postHeader .title h2 {
    color: #ffffff;
    font-size: 1em;
  }
  .postHeader .title h2 a {
    color: gold;
    text-decoration: none;
  }
  .postHeader .title h2 img {
    width: 25px;
    border-radius: 50%;
  }
  .postHeader .title h2 a:hover {
    text-decoration: underline;
  }
  .postHeader .title h4 {
    display: block;
  }

  /* Post Page: article content ****************/
  .contPad {
    background: transparent;
    width: inherit;
    height: inherit;
  }
  .mobileAd-container {
    width: auto; height: 120px;
  }
  .mobileAd {
    width: 320px; height: 100px;
    margin: 10px auto auto auto;
  }
  .contPad .main-column {
    padding: 1em;
    color: #dedede;
    background-color: #000000;
    font-size: 1.3em;
    letter-spacing: 2px;
    line-height: 1.4em;
    font-family: sans-serif;
  }
  .main-column iframe {
    width: 100vw;
    height: calc((1080 / 1900) * 100vw);
    margin-left: -1em;
  }
  .main-column img {
    width: 100vw;
    height: auto;
    margin-left: -1em;
  }
  .author-block p {
    font-size: 0.8em;
    line-height: 0.7em;;
  }
  .comments {
    margin-left: 1em;
    width: 100%;
  }

}
@media (min-width: 801px) {
  .bkg-img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(70px);
    background-size: cover;
    background-position: center;
    z-index: -5;
  }
  .postPhoto {
    height: 450px;
  }
  .mobileAd-container {
    display: none;
  }
}
@media (min-width: 900px) {
  .postHeader {
    display: inline-flex;
    width: 100%
  }
  .postHeader .postPhoto {
    flex: 1;
  }
  .postHeader .title {
    flex: 1;
    margin: auto;
  }




  .contPad {
    width: 728px;
    margin: auto;
  }
  .mobileAd-container {
    width: auto; height: 120px;
  }
  .mobileAd {
    width: 728px; height: 90px;
    margin: auto;
  }
  .contPad .main-column {
    padding: 1em;
    color: #dedede;
    background-color: #000000;
    font-size: 1.3em;
    letter-spacing: 2px;
    line-height: 1.4em;
    font-family: sans-serif;
  }
  .main-column iframe {
    width: 728px;
    height: calc((1080 / 1900) * 728px);
    margin-left: -1em;
  }
  .main-column img {
    width: 728px;
    height: auto;
    margin-left: -1em;
  }
  .main-column .alignright {
    float: right;
    width: auto;
    margin: 10px 0 10px 10px;
  }
  .main-column .alignleft {
    float: left;
    width: auto;
    margin: 10px 10px 10px 0;
  }
  .main-column .alignright img,
  .main-column .alignleft img {
    width: auto;
  }
}
.related-post {
  width: inherit;
  display: flex;
  margin-top: 10px;
  background-color: #333;
}
.related-post .r-img {
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
  display: inline-block;

  margin: 10px 10px 10px 10px;
}
.related-post .thumb-title {
  flex: 5;
}
.related-post .thumb-title {
  color: #fff;
  font-family: sans-serif;
}
.related-post .thumb-title h2 {
  font-size: 1.15em;
  color: red;
  padding-right: 4px;
}
@media (min-width: 1200px) {

  .author-block {
    display: flex;
    padding: 1em;
    border-radius: 15px;
  }
  .author-block .left img {
    width: 200px; height: 200px;
    margin-left: 2em;
    border-radius: 50%;
  }
  .author-block .right {
    display: flex;
  }
  .author-block .right div {
    margin: auto auto auto 20px;
  }
  .author-block .right div h3 {
    margin-top: 0;
  }
  .contPad {
    width: auto;
    margin: auto;
  }
  .mobileAd-container {
    display: none;
  }
  .desktopAd {
    display: block;
    width: 850px; height: 90px;
    margin: 0 0 2em 0;
  }
  .article-grid {
    display: grid;
    grid-template-columns: 1fr 750px 350px 1fr;
    grid-template-rows: auto;
    grid-template-areas: ". article sidebar .";
    grid-gap: 1em;
  }
  .main-column {
    grid-area: article;
  }
  .sidebar {
    grid-area: sidebar;
  }
  .sidebar-title {
    margin-top: 0;
    color: #ffffff;
  }
  .related-post {
    background-color: #111111;
    text-decoration: none;
  }
  .related-post h2 {
    color: #ffffff;
    font-family: sans-serif;
    font-weight: bold;
  }
  .related-post h4 {
    color: #ffffff;
    font-family: sans-serif;
  }
  .main-column iframe {
    width: 850px;
    height: calc((1080 / 1900) * 850px);
    margin-left: -1em;
  }
  .main-column img {
    width: 850px;
    height: auto;
    margin-left: -1em;
  }
}

@media (min-width: 1500px) {

  .contPad {
    width: auto;
    margin: auto;
  }

  .article-grid {
    display: grid;
    grid-template-columns: 1fr 1000px 350px 1fr;
    grid-template-rows: auto;
    grid-template-areas: ". article sidebar .";
    grid-gap: 1em;
  }
  .main-column {
    grid-area: article;
  }
  .sidebar {
    grid-area: sidebar;
  }
  .main-column iframe {
    width: 1000px;
    height: calc((1080 / 1900) * 1000px);
    margin-left: -1em;
  }
  .main-column img {
    width: 1000px;
    height: auto;
    margin-left: -1em;
  }
}

.embeded-video {
  display: flex;
}
.embeded-video iframe {
  margin: auto;
  width: 100vw;
  height: calc((1080 / 1900) * 100vw);
}
.videoHeader {
  color: #fff;
  margin: 10px;
}
.videoHeader h2 {
  color: #ffffff;
  font-size: 1em;
}
.videoHeader h2 a {
  color: gold;
  text-decoration: none;
}
.videoHeader h2 img {
  width: 25px;
  border-radius: 50%;
}
.videoHeader h2 a:hover {
  text-decoration: underline;
}
@media (min-width:1100px) {
  .videoHeader {
    margin: 10px 100px;
  }
  .embeded-video iframe {
    margin: auto;
    width: 60vw;
    height: calc((1080 / 1900) * 60vw);
  }
}

.sidebar-title {
  color: #fff;
}


/* Buttons */
.btn {
  padding: 0.6em;
  text-decoration: none;
  color: #ffffff;
  font-family: sans-serif;
  transition: ease all 300ms;
  background-color: #eee;
  display: inline-block;
}


/* Button Shapes */

/* Pill */
.btn-pill {
  background-color: blue;
  text-align: center;
  margin: 1em;
  border-radius: 500px;
}
.btn-pill:hover {
  background-color: #7777ff;
}

/* Button Modes */
.btn-clear {
  border: solid #ffffff 2px;
  background-color: transparent;
}
.btn-clear:hover {
  background-color: rgba(255,5,5,0.5);
}
.btn-raised {
  box-shadow: rgba(0, 0, 0, 0) 0em 0em 0em;
}
.btn-raised:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0em 0.2em 0.4em;
}
.btn-raised:active {
  box-shadow: rgba(0, 0, 0, 0) 0em 0em 0em;
}
.btn-wide {
  display: block;
  text-align: center;
}

/*Pager*/
nav .pager {
    list-style: none;
    display: flex;
    margin: 40px 0;
    clear: both;
    text-align: center;
}

nav .pager li {
    flex: 1;
}

nav .pager li a {
    padding: 20px;
    margin: 20px;
    border-radius: 20%;
    background-color: var(--main-color);
    color: var(--main-text-color);
    text-decoration: none;
    border: 1px solid black;
}

nav .pager li a:hover {
    background-color: red;
}

/* Footer */

footer .footer-grid {
  display: grid;
  grid-template-columns: '1fr';
  grid-template-rows: auto;
  grid-template-areas: 'contact'
                      'social'
                      'development-by'
                      'copyright';
}
footer .copyright {
  grid-area: copyright;
  text-align: center;
  margin: auto auto 2em auto;
}
footer .development-by {
  grid-area: development-by;
  text-align: center;
  margin: 40px auto 0 auto;
}
footer .development-by p,
footer .development-by a  {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  transition: ease all 500ms;
}
footer .development-by a img {
  width: 40px; height: 40px;
}
footer .development-by p {
  vertical-align: middle;
  font-size: 1.3em;
}
footer .development-by a:hover {
  color: skyblue;
}
footer .social {
  grid-gap: social;
  margin: 3em auto 0 auto;
  text-align: center;
}
footer .social a {
  display: inline-block;
  width: 50px; height: 50px;
  padding: 20px;
}
footer .contact {
  grid-gap: contact;
  text-align: center;
}
